// colors

$dark-100: #1e1e1e;
$dark-200: #1B1A28;
$dark-300: #272534;

$light-100: #ffffff;
$light-200: #fafafa;
$light-300: #ececec;
$light-400: #bebebe;
$light-500: #9E9E9E;

$blue-100: #C2CFE8;
$blue-200: #6034EE;
$blue-300: #4e34ee;

$indigo-100: #643ecf;

$purple-100: #9235EE;
$purple-200: #b235ed;

