.headerImg {

    @media (min-width: 900px) {
        height: clamp(400px, 50vw, 950px);
        position: absolute;
        transform: translate(-50%,-50%);
        left: 55%;
        top: 40%;
    }

    @media (min-width: 1200px) {
        top: 50%;
    }
}

.headerContent {
    max-width: 350px;

    @media (min-width: 900px) {
        margin-block-end: -10rem;
        margin-inline-end: -4rem;
    }

    @media (min-width: 1200px) {
        margin-block-end: -12rem;
        margin-inline-end: 0;
    }

    @media (min-width: 1536px) {
        margin-block-end: -8rem;
    }
}