.appWrapper {
  display: grid;
  grid-template-columns: auto 340px 2.5rem 340px 2.5rem;
  grid-template-rows: 4rem 2.5rem auto 2.5rem 4rem;

  &Background {
    grid-column: 1 / 6;
    grid-row: 3 / 4;
    background: #272534;
    opacity: 0.55;
    border-radius: 20px;
    z-index: 1;
  }

  &Content {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    z-index: 2;
    padding-block: 6rem;
    padding-inline: 2.5rem 1rem;
  }

  .mobileImg {
    width: 100%;
    z-index: 2;
    border-radius: 50px;
    border: 1px solid #454444;
    box-shadow: 20px 28px 90px -15px rgba(50, 46, 65, 0.5);
  }

  &ImgOne {
    grid-column: 2 / 3;
    grid-row: 1 / 6;
  }

  &ImgTwo {
    grid-column: 4 / 5;
    grid-row: 2 / 7;
  }
}
